.modal {
  z-index: 6000;
}

.modal-dialog {
  max-width: 80vw;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal img {
  width: 35vw;
  background-color: #ffffff;
}

.modal-button {
  background-color: #153d68;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.modal-button:hover {
  background-color: #153d68;
  border-color: #153d68;
}

.modal-backdrop {
  z-index: 6000;
}
.modal-backdrop.show {
  opacity: 0.7;
}

.promotion-modal-header,
.modal-footer {
  background-color: #ffffff;
  color: #153d68;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.promotional-modal-body {
  padding: 2vh;
  margin: 3vh auto;
  color: #153d68;
  background-color: rgb(255, 255, 255);
  max-width: 75vw;
}

.promotional-modal-body h1 {
  font-size: 3rem;
}

.promotional-modal-detail {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.promotional-modal-coupon-code h3,
.promotional-modal-url {
  font-size: 18px;
}

.promotional-modal-coupon-code {
  display: flex;
  flex-direction: row;
  color: #3278a7;
}

.promotional-modal-url {
  color: #3278a7;
  margin-top: 2vh;
}

.promotional-modal-url:hover {
  text-decoration: none;
  color: #153d68;
}

.copy-paste {
  margin: 0 0.5rem;
  color: #3278a7;
}

.copy-pasted {
  margin: 0 0.5rem;
  color: #03ad0c;
}

.copy-paste:hover {
  color: #153d68;
}

@media screen and (max-width: 1024px) {
  .promotional-modal-body .row {
    flex-direction: column;
  }
  .promotional-modal-body h1 {
    margin-top: 2vh;
  }
  .modal img {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .promotion-modal-header h3 {
    font-size: 14px;
  }
  .promotional-modal-body {
    margin: 2vh auto;
    max-width: 90vw;
  }
  .promotional-modal-detail {
    width: 100%;
  }
  .promotional-modal-body h1 {
    font-size: 24px;
  }
  .promotional-modal-coupon-code h3,
  .promotional-modal-url {
    font-size: 14px;
  }
  .promotional-modal-description,
  .promotional-modal-terms,
  .modal-button {
    font-size: 12px;
  }
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    max-width: 100%;
  }
}
