.promotion-window-col {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #153D68;
  padding: 0 0.25rem;
}

.promotion-window-col img {
  height: 12.5vh;
  width: 12.5vh;
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .promotion-window-col img {
    height: 80vw;
    width: 80vw;
  }
}
