.main-container {
  display: flex;
  justify-content: center;
}

.promotion-window-button,
.promotion-window-button-current-date {
  height: 14vw;
  width: 14vw;
  border: 1px solid #ffffff;
  border-radius: 0;
  padding: 0;
}

.promotion-window-button {
  background-color: #3278a7;
}

.promotion-window-button-current-date {
  background-color: #153d68;
}

.promotion-window-button:hover,
.promotion-window-button-current-date:hover {
  background-color: #153d68;
  border-color: #153d68;
}

@media screen and (max-width: 1444px) {
  .promotion-window-button {
    height: 13.95vw;
    width: 13.95vw;
  }
}

@media screen and (max-width: 1275px) {
  .promotion-window-button {
    height: 13.5vw !important;
    width: 13.5vw !important;
  }
}

@media screen and (max-width: 600px) {
  .promotion-window-button {
    height: 90vw !important;
    width: 90vw !important;
  }

  .promotion-window-button-current-date {
    scroll-margin-top: 110px; /* to compensate for header - change to taste - Calum */
  }
}
