.main-container {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 65vw;
  margin: 0 auto;
  overflow-y: scroll;
  background-size: cover;
}

.promotion-window-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* .promotion-window-container .row {
  margin: 0;
} */

.promotion-window-button,
.promotion-window-button-current-date {
  /* height: 15vw;
  width: 15vw; */
  /* border: 1px solid #FFFFFF; */
  border: none;
  border-radius: 0;
  padding: 0;
}

.promotion-window-button {
  /* background-color: #3278A7; */
  /* background-color: none; */
}

.promotion-window-button-current-date {
  /* background-color: #ffffff; */
  background-color: rgb(222, 220, 175, 0.75);
}

.promotion-window-button:hover {
  background-color: rgb(50, 120, 167, 0.75);
  border-color: #3278a7;
  cursor: pointer;
}

@media screen and (max-width: 1444px) {
  .promotion-window-button {
    /* height: 13.95vw;
    width: 13.95vw; */
  }
}

@media screen and (max-width: 1275px) {
  .promotion-window-button {
    /* height: 13.5vw !important;
    width: 13.5vw !important; */
  }
}

@media screen and (max-width: 600px) {
  .promotion-window-button {
    height: 90vw !important;
    width: 90vw !important;
  }
}
