.header-contents {
  position: fixed;
  top: 0;
  width: 65vw;
  background-color: #ffffff;
  z-index: 5000;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  margin-top: 0;
}

.logo-sole-dunbar-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-sole-dunbar-text-primary {
  color: #3278a7;
  font-size: 1.5rem;
}

.logo-sole-dunbar-text-secondary {
  color: #153d68;
  font-size: 0.75rem;
}

.header-contents img {
  margin: 0 0.5rem 0 2rem;
  height: 7.5vh;
  width: 7.5vh;
}

@media screen and (max-width: 1421px) {
  .header-contents {
    width: 70vw;
  }
}

@media screen and (max-width: 1319px) {
  .header-contents {
    width: 75vw;
  }
}

@media screen and (max-width: 1231px) {
  .header-contents {
    width: 80vw;
  }
}

@media screen and (max-width: 1154px) {
  .header-contents {
    width: 85vw;
  }
}

@media screen and (max-width: 1087px) {
  .header-contents {
    width: 90vw;
  }
}

@media screen and (max-width: 1026px) {
  .header-contents {
    width: 95vw;
  }
  .logo-sole-dunbar-text-primary {
    /* font-size: 1.75rem; */
  }

  .logo-sole-dunbar-text-secondary {
    /* font-size: 1.5rem; */
  }
}
