.header-contents {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin-top: 0;
}

.logo-dunbar-text {
  color: #3278a7;
  font-size: 1.5rem;
}

.header-contents img {
  height: 10vh;
  width: auto;
}

@media screen and (max-width: 413px) {
  .logo-dunbar-text {
    font-size: 1rem;
  }
  .header-contents img {
    height: 9vh;
  }
}
