.app {
  padding: 9rem 0 20px;
}

.col {
  margin: 0;
  padding: 0;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
}

.btn-primary {
  border-color: #3278A7;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: #153D68;
  border-color: #153D68;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 7rem 0 0;
  }
}
