.app {
  display: flex;
  justify-content: center;
  padding: 15vh 0;
  height: 100vh;
  margin: 0 auto;
}

.btn-primary {
  border-color: #3278A7;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .app {
    /* padding: 7rem 0 0; */
  }
}

@media screen and (max-width: 320px) {
  .app {
    /* padding: 50rem 0 0; */
  }
}
