body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Granville-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Granville";
  src: local("Granville"), url(./fonts/Granville-Regular.otf) format("truetype");
}
