body {
  margin: 0;
  font-family: -apple-system, "Granville-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #eaf2fb;
  background-color: #95bee9; */
  background-color: #d3d9de;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Granville";
  src: local("Granville"), url(./fonts/Granville-Regular.otf) format("truetype");
}
